# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the database file
db.sqlite3

# Ignore Django migration files
*/migrations/*.py
!*/migrations/__init__.py

# Ignore environment files
.env

# Ignore logs and other temporary files
*.log
*.tmp
*.pid

# Ignore settings file
settings.py
*/settings.py
*/settings/*.py

# Ignore vscode debugging files
.vscode/

# Ignore media files
media/

# Celery worker logs and PIDs
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
celeryd.log
celeryd.pid