{% extends 'main.html' %}

{% block content %}

<div class="row mb-3">
  <div class="col-sm-12 col-md-12 mb-2">
    <a href="{% url 'bills-tracker' %}" class="btn btn-secondary"><i class="bi bi-caret-left"></i></a>
  </div>
</div>
    
<div class="row mb-3 border border-black rounded p-3">

  <div class="row mb-3 text-center">
    <div class="col-sm-12 col-md-12 mb-2">
      <h4>Bill Details</h4>
    </div>
  </div>
      <!-- Action Buttons -->
  <div class="row mb-3">
    <div class="col-sm-12 col-md-12 mb-2 text-end">
      <a href="{% url 'bill-update' bills.id %}" class="btn btn-success"><i class="bi bi-pencil"></i></a>
      <!-- Delete Button -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash"></i></button>

      <!-- Modal Delete-->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Bill Info</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p>Are you sure you want to delete the following Bill?</p>
              <h6><strong>Bill Name: </strong>{{ details.name }}</h6>
              <h6><strong>Category: </strong>{{ details.category }}</h6>
              <h6><strong>Amount: </strong>&#8369;{{ bills.amount }}</h6>
            </div>
            <div class="modal-footer">
              <form id="deleteForm" method="POST" action="{% url 'bill-delete' bills.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes</button>
              </form>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-6 mb-2">
      <label for="id_name" class="form-label">Bill Name</label>
      <div class="input-group">
        <input type="text" class="form-control" value="{{ details.name }}" disabled readonly>
        <a href="{% url 'billdetail-view' bills.bill_detail.id %}" class="btn btn-outline-secondary"><i class="bi bi-eye"></i></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-2">
      <label for="id_category" class="form-label">Category</label>
      <input type="text" class="form-control" id="id_category" value="{{ details.category }}" disabled readonly>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-12">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="3" disabled readonly>{{ details.description }}</textarea>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12 col-md-6 mb-2">
      <label class="form-label">Payment Schedule</label>
      <input type="text" class="form-control" value="{{ details.is_recurring }}" disabled readonly>
    </div>
    <div class="col-sm-12 col-md-6 mb-2">
      <label class="form-label">Due Date</label>
      <input type="date" class="form-control" value="{{ bills.due_date|date:'Y-m-d' }}" disabled readonly>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-12 col-md-6 mb-2">
      <label class="form-label">Status</label>
      <div class="input-group">
        <input type="text" class="form-control" value="{{ bills.payment_status }}" disabled readonly>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#paymenthistory">
          History
        </button>

        <!-- Modal -->
        <div class="modal fade" id="paymenthistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paymenthistoryLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="paymenthistoryLabel">Payment History</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="row mb-3 table-responsive">
                  <table class="table table-hover table-striped text-center align-middle">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">Reference #</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Paid on</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
            
                      {% for pay in payments %}
                      <tr>
                        <td>{{ pay.payment_reference }}</td>
                        <td>{{ pay.payment_type }}</td>
                        <td>&#8369; {{ pay.amount }}</td>
                        <td>&#8369; {{ pay.fee_amount }}</td>
                        <td>{{ pay.created_at }}</td>
                      </tr>
                      {% endfor %}
            
                    </tbody>
                  </table>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-2">
      <label class="form-label">Total Amount</label>
      <div class="input-group">
        <span class="input-group-text">&#8369;</span>
        <input type="number" class="form-control" value="{{ bills.amount }}" disabled readonly>
      </div>
    </div>
  </div>

  <div class="row mb-3 d-flex justify-content-center">
    <div class="col-sm-12 col-md-6 mb-2 text-center">
      <label class="form-label"><strong>Balance</strong></label>
      <div class="input-group">
        <span class="input-group-text">&#8369;</span>
        <input type="number" class="form-control" value="{{ bills.amount_payable }}" disabled readonly>
      </div>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'pay-bill' bills.id bills.bill_detail.id %}" class="btn btn-info {% if bills.amount_payable <= 0 %} disabled {% endif %}"><i class="bi bi-wallet"></i> Pay</a>
    </div>
  </div>

</div>

  
{% endblock content %}
  