{% extends 'main.html' %}

{% block content %}

{% load static %}

{% load humanize %}

  <!-- <div class="row mb-2 mt-3 text-end">
    <div>
      <button id="tableViewBtn" class="btn btn-outline-primary"><i class="bi bi-table"></i></button>
      <button id="gridViewBtn" class="btn btn-outline-secondary"><i class="bi bi-grid"></i></button>
    </div>
  </div> -->

  <div class="row mb-1 mt-3">
    <div class="col-sm-12 col-md-7 mb-2">
      <a href="{% url 'create-bill' %}" class="btn btn-success"><i class="bi bi-plus-lg"></i> Add Bill</a>
    </div>

    <div class="col-sm-10 col-md-2 mb-2">
      <input type="month" class="form-control" id="idBillsMonthFilter" name="billsMonthFilter" value="{{ current_month }}">
    </div>

    <div class="col-sm-12 col-md-3 mb-2">
      <input type="hidden" id="bills-list-url" data-url="{% url 'get-bills-list' %}">
        <input type="text" id="idSearchInput" name="searchInput" class="form-control" placeholder="Search bills...">
    </div>
  </div>

  <div class="row table-responsive pe-1 ps-1 border rounded shadow-lg">
    <table class="table table-hover table-striped caption-top text-center align-middle shadow" id="billsTable">
      <caption>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="idShowAllBills">
          <label for="idShowAllBills" class="form-check-label">Show All Bills</label>
        </div>
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">Bill Name</th>
          <th scope="col">Category</th>
          <th scope="col">Due Date</th>
          <th scope="col">Balance</th>
          <th scope="col" class="text-center text-nowrap w-auto"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="billsTableBody">

      </tbody>
    </table>
  </div>

  <script src="{% static 'billstracker/bills.js' %}" defer></script>

{% endblock content %}