{% extends "main.html" %}

{% load custom_tags %}

{% block content %}
  
<div class="row mb-3">
  <div class="col-sm-12 col-md-6 mb-2">
    <a href="{{ request.META.HTTP_REFERER  }}" class="btn btn-secondary">Back</a>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-sm-12 col-md-8 mb-2">
    <div class="card">
      <form method="post">
        {% csrf_token %}
      <div class="card-body">
        <h5 class="card-title text-center">Change Password</h5>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-2">
            <label class="form-label">Current Password</label>
            <input type="password" class="form-control {% if form.password.errors %} is-invalid {% endif %}" name="password" id="id_password" required>
            {% if form.password.errors %}
              <div class="invalid-feedback">
                {{ form.password.errors|striptags }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-2">
            <label class="form-label">New Password</label>
            <input type="password" class="form-control {% if form.non_field_errors %} is-invalid {% endif %}" name="new_password" id="id_new_password" required>
            {% if form.non_field_errors %}
              <div class="invalid-feedback">
                {{ form.non_field_errors }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-2">
            <label class="form-label">Re-enter New Password</label>
            <input type="password" class="form-control {% if form.non_field_errors %} is-invalid {% endif %}" name="re_new_password" id="id_re_new_password" required>
            {% if form.non_field_errors %}
              <div class="invalid-feedback">
                {{ form.non_field_errors }}
              </div>
            {% endif %}
            <div id="passwordhelp" class="form-text">
              {{ password_help_text }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
  