{% extends 'main.html' %}

{% load custom_tags %}

{% block content %}
  
<div class="row mb-3">
  <div class="col">
    <a href="{% url 'bill-view' bill.id %}" class="btn btn-secondary">Back</a>
  </div>
</div>

<div class="card border-dark">
  <div class="card-header">
    <h4 class="mb-0 text-center">Bill Details</h4>
  </div>
  <div class="card-body">

    {% if form.errors %}
      <div class="alert alert-danger">
          <ul>
              {% for field, errors in form.errors.items %}
                  <li>{{ field }}: {{ errors|join:", " }}</li>
              {% endfor %}
          </ul>
      </div>
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="id_name" class="form-label">Bill Name</label>
          <input type="text" name="name" id="id_name" class="form-control" value="{{ details.name }}">
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="id_category" class="form-label">Category</label>
          <select id="id_category" name="category" class="form-control">
            {% for cat in category %}
              <option value="{{ cat.id }}" {% if cat.id == details.category.id %}selected{% endif %}>
                {{ cat.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 mb-2">
          <label for="id_description" class="form-label">Description</label>
          <textarea name="description" id="id_description" rows="3" class="form-control">{{ details.description }}</textarea>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12 col-md-4 mb-2">
          <label for="id_is_recurring" class="form-label">Payment Schedule</label>
          <input type="text" class="form-control" id="id_is_recurring" name="is_recurring" value="{{ details.is_recurring }}" readonly disabled>
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
          <label for="id_due_date" class="form-label">Due Date</label>
          <input type="date" class="form-control" name="due_date" id="id_due_date" value="{{ form.due_date.value|date:'Y-m-d' }}">
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
          <label for="id_amount" class="form-label">Amount</label>
          <div class="input-group">
            <span class="input-group-text">&#8369;</span>
            <input type="number" class="form-control" name="amount" id="id_amount" value="{{ form.amount.value }}" >
          </div>
        </div>
      </div>

      <div class="row text-end">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
          <input type="submit" class="btn btn-success" value="Update">
        </div>
      </div>
      
    </form>
  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const recurringDropdown = document.getElementById('id_is_recurring');
    const recurringLabelfor = document.getElementById('id_recurring_label_for');
    const recurringLabeldays =  document.getElementById('id_recurring_label_days');
    const recurringdays = document.getElementById('id_recurring_days');

    function updateRecurringFields() {
      const value = recurringDropdown.value;

      console.log(value)

      if (value === 'one-time') {
        recurringLabelfor.classList.add('d-none');
        recurringLabeldays.classList.add('d-none');
        recurringdays.classList.add('d-none');
      } else {
        recurringLabelfor.classList.remove('d-none');
        recurringLabeldays.classList.remove('d-none');
        recurringdays.classList.remove('d-none');

        if (value === 'daily') {
          recurringLabeldays.textContent = 'days';
        } else if (value === 'monthly') {
          recurringLabeldays.textContent = 'months'
        } else if (value === 'yearly') {
          recurringLabeldays.textContent = 'years'
        }
      }
    }

    recurringDropdown.addEventListener('change', updateRecurringFields);

    updateRecurringFields();

  });
</script>

{% endblock content %}
  