{% extends 'main.html' %}

{% block content %}





<h2>Hello {{ request.user }}</h2>
<p></p>
<h5>Welcome to my website.</h5>
<p>The only page that is currently working is the <a href="{% url 'bills-tracker' %}">Bills Tracker</a> page.</p>
<p>The website is still in development and more features, pages and functionality will be added in the future</p>
<p>If you have any request, please feel free to contact the developer of the page or email him at <u>clydeocarugda@gmail.com</u></p>


  
{% endblock content %}
  