{% extends "main.html" %}

{% load custom_tags %}

{% block content %}

<div class="row">
  {% include 'money_sidebar.html' %}

  <div class="col-sm-12 col-md-9 flex-grow-1 p-4">
    <h4>Add Money Account</h4>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="id_account_group" class="form-label">Account Group</label>
          {{ form.account_group|add_attrs:"class=form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="id_name" class="form-label">Name</label>
          <input type="text" name="name" id="id_name" class="form-control{% if form.name.errors %} is-invalid{% endif %}" required>
          {% if form.name.errors %}
            <div class="invalid-feedback">
              {{ form.name.errors|striptags }}
            </div>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="id_amount" class="form-label">Amount</label>
          <div class="input-group">
            <span class="input-group-text">&#8369;</span>
            <input type="number" step="Any" name="amount" id="id_amount" class="form-control" value="0" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 mb-2">
          <label for="id_description" class="form-label">Description</label>
          <textarea rows="5" name="description" id="id_description" class="form-control"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-success float-end"><i class="bi bi-floppy"></i> Save</button>

    </form>
  </div>

</div>
  
{% endblock content %}