{% extends "main.html" %}

{% load custom_tags %}

{% block content %}

<div class="row mb-3">
  <div class="col">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="mb-0 text-center">Pay Bill</h4>
  </div>
  <div class="card-body">
    <div class="row p-2">
      <div class="col-sm-12 col-md-7 mb-2">
        <form method="post">
          {% csrf_token %}
          <div class="row mb-2">
            <div class="col-sm-12 col-md-6 mb-2">
              <label for="id_payment_type" class="form-label">Payment Method</label>
              {{ form.payment_type|add_attrs:"class=form-control" }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-12 col-md-6 mb-2">
              <label for="id_payment_reference" class="form-label">Reference #</label>
              {{ form.payment_reference|add_attrs:"class=form-control" }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-sm-12 col-md-7 mb-2">
              <label for="id_amount" class="form-label">Amount to pay</label>
              <div class="input-group">
                <span class="input-group-text">&#8369;</span>
                {{ form.amount|add_attrs:"class=form-control" }}
              </div>
            </div>
            <div class="col-sm-12 col-md-5 mb-2">
              <label for="id_fee_amount" class="form-label">Fee (If any)</label>
              <div class="input-group">
                <span class="input-group-text">&#8369;</span>
                {{ form.fee_amount|add_attrs:"class=form-control" }}
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 col-md-9 mb-2">
              <label for="id_total_amount" class="form-label"><strong>Total Amount:</strong></label>
              <div class="input-group">
                <span class="input-group-text">&#8369;</span>
                <input type="number" class="form-control" id="id_total_amount" readonly disabled>
              </div>
            </div>
          <div class="row mt-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-success" value="Pay">
          </div>
          </div>
        </form>
      </div>

      <div class="col-sm-12 col-md-5 mt-2 d-flex align-items-stretch">
        <div class="card border-success">
          <div class="card-body">
            <div class="row">
              <h7><strong>Bill Name: </strong>{{ details.name }}</h7>
              <h7><strong>Category: </strong>{{ details.category }}</h7>
              <h7><strong>Due Date: </strong>{{ bill.due_date }}</h7>
              <h7><strong>Description: </strong>{{ details.description }}</h7>
              <h7><strong>Total Amount: </strong>&#8369;{{ bill.amount }}</h7>
              <h7><strong>Balance due: </strong>&#8369;{{ bill.amount_payable }}</h7>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function updateTotal() {
      const payamount = parseFloat(document.getElementById('id_amount').value) || 0;
      const feeamount = parseFloat(document.getElementById('id_fee_amount').value) || 0;
      const total = payamount + feeamount;

      document.getElementById('id_total_amount').value = total;
    }

    document.getElementById('id_amount').addEventListener('input', updateTotal);
    document.getElementById('id_fee_amount').addEventListener('input', updateTotal);
  });
</script>
  
{% endblock content %}
  